In [1]:
import pandas as pd

In [2]:
master=pd.read_csv('merged_data.csv')

In [4]:
master.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"

In [7]:
master['Profit']<0

0        True
1       False
2        True
3       False
4        True
        ...
8394    False
8395     True
8396    False
8397    False
8398     True
Name: Profit, Length: 8399, dtype: bool

In [10]:
master.loc[master['Profit']<0,['Cust_id','Profit']]

        Cust_id   Profit
0     Cust_1818   -30.51
2     Cust_1820   -17.58
4     Cust_1417   -78.64
5     Cust_1659   -13.53
6      Cust_727    -3.18
...         ...      ...
8388   Cust_186  -379.29
8390   Cust_198  -635.69
8392  Cust_1309  -735.27
8395   Cust_247  -391.92
8398  Cust_1266 -2213.75

[4264 rows x 2 columns]

In [18]:
(master['Profit']>0) & (master['Profit']<100)

0       False
1        True
2       False
3        True
4       False
        ...
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Profit, Length: 8399, dtype: bool

In [20]:
master[(master['Profit']>0) & (master['Sales']  <100)|(master['Customer_Segment']=='CORPORATE')]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
7,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,AMY COX,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
9,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,ANDY YOTOV,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
11,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,ANNA HABERLIN,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8384,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37,RITSA HIGHTOWER,ONTARIO,ONTARIO,CORPORATE,TECHNOLOGY,COPIERS AND FAX
8385,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,ROY SKARIA,BRITISH COLUMBIA,WEST,CORPORATE,TECHNOLOGY,COPIERS AND FAX
8386,Ord_171,Prod_14,SHP_231,Cust_1194,6350.29,0.02,10,-735.97,24.49,0.50,ROY SKARIA,MANITOBA,PRARIE,CORPORATE,TECHNOLOGY,COPIERS AND FAX
8387,Ord_1390,Prod_14,SHP_1919,Cust_537,6933.45,0.04,15,1200.21,49.00,0.38,RUBEN AUSMAN,ONTARIO,ONTARIO,CORPORATE,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,TECHNOLOGY,COPIERS AND FAX

In [22]:
master.loc[master['Profit']>0&(master['Sales']>100),['Cust_id','Sales','Profit']]

        Cust_id     Sales   Profit
1     Cust_1088    305.05    23.12
3     Cust_1314    459.08    61.57
8     Cust_1388    666.40     2.02
10     Cust_566    139.37     1.72
13    Cust_1052    138.55     0.90
...         ...       ...      ...
8391  Cust_1801  10281.79  3272.90
8393  Cust_1397  11829.40  3899.72
8394  Cust_1803   5964.19   988.20
8396  Cust_1795  17279.62  4176.25
8397   Cust_595  14647.26  5485.15

[4135 rows x 3 columns]

In [26]:
sorted_data_frame=master.loc[(master['Profit']>0) & (master['Sales']>100),['Cust_id','Sales','Profit']].sort_values(by ='Profit',ascending=False)
print(sorted_data_frame)

        Cust_id     Sales    Profit
3008  Cust_1151  89061.05  27220.69
2901  Cust_1307  28359.40  14440.39
8334  Cust_1170  28664.52  13340.26
8360  Cust_1571  29884.60  12748.86
3161  Cust_1763  26095.13  12606.81
...         ...       ...       ...
2550   Cust_578    123.34      0.64
81    Cust_1714    135.77      0.53
663   Cust_1722    112.60      0.49
2542  Cust_1471    107.41      0.19
4940   Cust_246    196.75      0.13

[3759 rows x 3 columns]

In [29]:
by_product=master.groupby('Product_Category')

In [30]:
by_product.get_group('FURNITURE')

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
3944,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.248,0.10,15,-693.23,61.76,0.78,AARON HAWKINS,QUEBEC,QUEBEC,HOME OFFICE,FURNITURE,TABLES
3945,Ord_1184,Prod_11,SHP_1635,Cust_452,73.440,0.00,3,-53.78,27.75,0.76,ADAM BELLAVANCE,ONTARIO,ONTARIO,SMALL BUSINESS,FURNITURE,TABLES
3946,Ord_4360,Prod_11,SHP_6079,Cust_1474,1736.410,0.10,12,-762.44,80.20,0.71,ADAM HART,YUKON,YUKON,CORPORATE,FURNITURE,TABLES
3947,Ord_2340,Prod_11,SHP_3211,Cust_933,2907.630,0.04,42,54.60,69.00,0.68,ALAN HAINES,QUEBEC,QUEBEC,CONSUMER,FURNITURE,TABLES
3948,Ord_2371,Prod_11,SHP_3255,Cust_950,1476.120,0.03,31,-1401.17,46.59,0.67,ALAN HAINES,QUEBEC,QUEBEC,HOME OFFICE,FURNITURE,TABLES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5909,Ord_2180,Prod_15,SHP_2972,Cust_810,1505.670,0.10,22,-436.23,30.00,0.73,VIVEK SUNDARESAM,QUEBEC,QUEBEC,HOME OFFICE,FURNITURE,CHAIRS & CHAIRMATS
5910,Ord_2160,Prod_15,SHP_2944,Cust_810,3636.370,0.06,33,-176.91,30.00,0.69,VIVEK SUNDARESAM,QUEBEC,QUEBEC,HOME OFFICE,FURNITURE,CHAIRS & CHAIRMATS
5911,Ord_3584,Prod_15,SHP_4961,Cust_1266,2502.670,0.10,9,-198.80,64.73,0.56,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,FURNITURE,CHAIRS & CHAIRMATS
5912,Ord_3593,Prod_15,SHP_4975,Cust_1274,6685.050,0.09,25,1653.60,24.49,NaN,WILLIAM BROWN,SASKACHEWAN,PRARIE,HOME OFFICE,FURNITURE,CHAIRS & CHAIRMATS
5913,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.870,0.03,23,565.34,30.00,0.62,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER,FURNITURE,CHAIRS & CHAIRMATS

In [32]:
by_product[['Profit','Sales']].sum()

                     Profit        Sales
Product_Category
FURNITURE         117433.03  5178590.542
OFFICE SUPPLIES   518021.43  3752762.100
TECHNOLOGY        886313.52  5984248.182